<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diffwind.dao.mapper.CreateIndexMapper"> 
  
  <update id="createIndex" parameterType="java.lang.String" >
  	create index ${sql}
  </update>
  
  <delete id="dropIndex" parameterType="java.lang.String" >
  	drop index if exists ${idx}
  </delete>
  
</mapper>